.header .header-top {
  padding: 10px 0px;
  background-color: #99d038; }
  .header .header-top .top-selects {
    position: relative;
    display: inline-block; }
    .header .header-top .top-selects ul {
      padding: 0px;
      margin: 0px !important;
      list-style: none; }
      .header .header-top .top-selects ul li {
        display: inline-block; }
        .header .header-top .top-selects ul li select {
          background-color: #99d038;
          border-color: #99d038;
          color: white; }
          .header .header-top .top-selects ul li select:focus {
            border-color: #99d038 !important; }
      .header .header-top .top-selects ul li:first-child {
        margin-right: 10px; }
    .header .header-top .top-selects::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 20px;
      background-color: white;
      left: 108px;
      top: 16%; }
  .header .header-top .top-user {
    display: inline-block;
    float: right;
    position: relative; }
    .header .header-top .top-user ul {
      margin: 0px;
      list-style: none; }
      .header .header-top .top-user ul li {
        display: inline-block; }
        .header .header-top .top-user ul li a {
          color: white;
          text-decoration: none; }
          .header .header-top .top-user ul li a .user-icon {
            display: inline-block; }
            .header .header-top .top-user ul li a .user-icon i {
              display: inline-block; }
          .header .header-top .top-user ul li a .user-name {
            display: inline-block; }
      .header .header-top .top-user ul li:first-child {
        margin-right: 20px; }
    .header .header-top .top-user::before {
      position: absolute;
      content: "";
      width: 2px;
      height: 20px;
      background-color: white;
      left: 106px;
      top: 10%; }
.header .header-bottom .bottom-menu {
  padding: 20px 0px; }
  .header .header-bottom .bottom-menu .menu-icon {
    display: inline-block; }
  .header .header-bottom .bottom-menu .menu-navbar {
    float: right;
    display: inline-block; }
    .header .header-bottom .bottom-menu .menu-navbar ul {
      padding: 0px;
      margin: 0px;
      list-style: none; }
      .header .header-bottom .bottom-menu .menu-navbar ul li {
        display: inline-block;
        padding: 0px 15px; }
        .header .header-bottom .bottom-menu .menu-navbar ul li a {
          font-weight: bold;
          font-size: 16px;
          color: black;
          text-decoration: none;
          opacity: 0.8;
          transition: 0.4s ease; }
          .header .header-bottom .bottom-menu .menu-navbar ul li a:hover {
            transition: 0.4s ease;
            opacity: 1; }
  .header .header-bottom .bottom-menu .menu-icons {
    display: inline-block;
    float: right; }
    .header .header-bottom .bottom-menu .menu-icons ul {
      list-style: none; }
      .header .header-bottom .bottom-menu .menu-icons ul li {
        padding-left: 5px;
        display: inline-block; }
        .header .header-bottom .bottom-menu .menu-icons ul li a {
          text-decoration: none; }
          .header .header-bottom .bottom-menu .menu-icons ul li a i {
            color: #636160;
            transition: 0.4s ease; }
            .header .header-bottom .bottom-menu .menu-icons ul li a i:hover {
              transition: 0.4s ease;
              color: black; }

/*# sourceMappingURL=index.css.map */
