.coupons {
    padding: 100px 0px;
    width: 100%;
    position: relative;
    background-image: url(../img/background3.jpg);
    .trending-top {
        text-align: right;
        .top-content {
            p {
                text-transform: uppercase;
            }
        }
    }
    .trending-bottom {
        
        .content-text {
            padding: 10px 35px !important;
            border-top:2px dashed black;
            position: relative;
            .text-scissors {
                position: absolute;
                width: 32px;
                height: 32px;
                top: -16px;
                left: 43%;
                transition: 0.4s ease;
                &:hover {
                       
                    transition: 0.4s ease;
                    &::after {
                        transition: 0.4s ease;
                      
                      transform: rotateZ(35deg);
                      
                    }
                    &::before {
                      
                        transition: 0.4s ease;
                        transform: rotateZ(-35deg);
                    }
                }
                &::after {
                    transition: 0.4s ease;
                    content: "";
                    background-image: url(../img/scissors2.png);
                    position: absolute;
                    width: 100%;
                    height: 43%;
                    top: 0%;

                }
                &::before {
                    transition: 0.4s ease;
                    content: "";
                    background-image: url(../img/scissors.png);
                    position: absolute;
                    width: 100%;
                    height: 43%;
                    top: 44%;
                    
                }
            }
            .text-upper{
                text-align: left !important;
                a { 
                    transition: 0.4s ease;
                    &:hover{
                        transition: 0.4s ease;
                        color: $primarycolor;
                    }
                }
                
            }
            .text-store {
                p {
                    font-size: 19px ;
                    span {
                        opacity: 0.8;
                        font-size: 16px;
                    }
                }
            }
            .text-date {
                float: left !important;
                margin-bottom: 30px;
                p {
                    font-size: 19px !important;
                    span {
                        font-size: 16px;
                    }
                }
            }
        }
        .owl-nav {
            display: block;
            .owl-next {
                top: -16%;
                left: 300px;
            }
            .owl-prev {
                top: -16%;
                left: 250px;
            }
        }
    }
}